<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE root [<!ELEMENT webPage ANY>
<!ATTLIST webPage id ID #REQUIRED>
<!ELEMENT eLearningAssets ANY>
<!ATTLIST eLearningAssets id ID #REQUIRED>
<!ELEMENT eLearningAsset ANY>
<!ATTLIST eLearningAsset id ID #REQUIRED>
]>
<root id="-1">
  <webPage id="1063" key="f393f945-cd99-4b47-a60b-cf99952dbc22" parentID="-1" level="1" creatorID="0" sortOrder="0" createDate="2018-02-07T17:40:54" updateDate="2018-02-12T10:05:06" nodeName="Home" urlName="home" path="-1,1063" isDoc="" nodeType="1061" creatorName="Ian Robinson" writerName="Ian Robinson" writerID="0" template="1060" nodeTypeAlias="webPage" isPublished="true">
    <bodyText><![CDATA[<h1>Home Page</h1>
<p> </p>
<p>Here is my <a href="/uSCORM-Assets/1080/index.html">text or image button</a>.</p>]]></bodyText>
  </webPage>
  <eLearningAssets id="1067" key="ed24a4df-319a-4b2f-be34-3b99916d5966" parentID="-1" level="1" creatorID="0" sortOrder="1" createDate="2018-02-08T09:15:42" updateDate="2018-02-08T09:15:42" nodeName="e-Learning Assets" urlName="e-learning-assets" path="-1,1067" isDoc="" nodeType="1064" creatorName="Ian Robinson" writerName="Ian Robinson" writerID="0" template="0" nodeTypeAlias="eLearningAssets" isPublished="true">
    <eLearningAsset id="1080" key="1152f299-e5c3-45d6-82dc-9e5a83480424" parentID="1067" level="2" creatorID="0" sortOrder="0" createDate="2018-02-12T10:03:16" updateDate="2018-02-12T10:04:38" nodeName="Adapt Example 1" urlName="adapt-example-1" path="-1,1067,1080" isDoc="" nodeType="1065" creatorName="Ian Robinson" writerName="Ian Robinson" writerID="0" template="0" nodeTypeAlias="eLearningAsset" isPublished="true">
      <assetPackage><![CDATA[index.html]]></assetPackage>
    </eLearningAsset>
  </eLearningAssets>
</root>